.data_buttons {
    align-items: center;
    text-align: center;
}

.buttons {
    background-color: white;
    align-items: center;
    text-align: center;
    border-top: 0cap;
    border-left: 0cap;
    border-right: 0cap;
    border-bottom: 1px;
    width: 100%;
    font-size: 12px;
    height: 60px;
    font-weight: bold;
}

.filter_panel {
    height: 100%;
}

tr:first-child {
    border-top: 2px solid black;
}

/* Ensure only the first row gets the full border effect */
tr:first-child td {
    border-top: 2px solid black;
}

/* Optional: Remove borders from other rows */
tr:not(:first-child) td {
    border: none;
}

.buttons:hover {
    background-color: #e0e0e0;
    color: black
}

.buttons.active {
    background-color: orangered; /* Blue background */
    color: white;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-top: 0cap;
    border-left: 0cap;
    border-right: 0cap;
    border-bottom: 1px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.logo1{    
    width: 100% !important;
    height: 4vw !important;      /* Relative to viewport width */
    /* max-height: 60px; */    
}

.logo2{
    width: 100% !important;
    height: 3.5vw !important;      /* Relative to viewport width */
    /* max-height: 60px; */
}